body {
  font-family: Arial, sans-serif;
  text-align: center;
}
#character-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
divGallery {
  margin: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  width: 220px;
  display: inline-block;
  text-align: center;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}
